--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
email-validator==2.1.0.post1
transformers>=4.37.2
torch>=2.2.0
geoip2==2.9.0
fpdf2==2.7.7
motor>=3.6.0
authres
slowapi==0.1.10